build/
install/
log/
__pycache__/
*.pyc
*.egg-info/
.colcon/
src/realsense-ros/
src/rtabmap/
src/rtabmap_ros/
src/xsens_mti/
src/zed-ros2-wrapper/
src/semantic_segmentation_layer/
src/semantic_segmentation_node/
